<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/min.dasmulheres" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/min.dasmulheres" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/mindasmulheres" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.flickr.com/photos/ministeriodasmulheres/albums" target="_blank"><i class="fab fa-flickr"></i></a>
  </div>

  <div class="footer-copyright">
    <%= image_tag "LogoGov8M.png", alt: "Logo", plugin: 'plugin_agenda_mulheres', width: 196, height: 84 %>
  </div>
