<div class="container">

  <% if @projects.any? %>
      <% @projects.each do |projeto| %>
          <%= link_to(projeto.name, project_path(projeto), :class => projeto.css_classes + " nav-link active").html_safe %>
          <% trackers = projeto.rolled_up_trackers(Setting.display_subprojects_issues?).visible %>
          <div class="row row-cols-1 row-cols-md-2 g-4">
          <% trackers.each do |tipo| %>
            <% if tipo.present? %>
              <div class="col">
              <% cond = projeto.project_condition(Setting.display_subprojects_issues?) %>
              <% open_issues_by_tracker = Issue.visible.open.where(cond).group(:tracker).count %>
              <% total_issues_by_tracker = Issue.visible.where(cond).group(:tracker).count %>

              <div class="card">
                <div class="card-header" style="background: #D2F4EA">
                  <%= tipo.name %>
                </div>
                <div class="card-body flex" style="display: flex; justify-content: space-evenly;">
                  <div style="display: flex">
                    <div style="margin: 10px;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#4CE0B3" class="bi bi-calendar-check" viewBox="0 0 16 16">
                        <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                      </svg>
                    </div>
                    <div>
                      <div><p style="font-size: 36px; margin: 0"><%= open_issues_by_tracker[tipo].to_i %></p></div>
                      <div><p style="font-size: 16px;  margin: 0">Tarefa(s) aberta(s)</p></div>
                    </div>
                  </div>
                  <div style="display: flex;">
                    <div style="margin: 10px">
                      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#4CE0B3" class="bi bi-calendar3" viewBox="0 0 16 16">
                        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                      </svg>
                    </div>
                    <div>
                      <div><p style="font-size: 36px; margin: 0"><%= (total_issues_by_tracker[tipo].to_i - open_issues_by_tracker[tipo].to_i) %></p></div>
                      <div><p style="font-size: 16px;  margin: 0">Tarefa(s) fechada(s)</p></div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            </div>
          <% end %>
      <% end %>
  <% end %>

</div>










