<h3>Bem-vindo(a) ao Sistema de Gestão de Demandas do Gabinete da SENEV</h1>

<p>
    Centralizamos e organizamos as demandas aqui para permitir uma gestão mais ágil e transparente. Sua colaboração é fundamental para o sucesso de nossos esforços na promoção da igualdade e no combate à violência de gênero.
</p>

<ul>
  <% @projects.each do |project| %>
    <li>
      <%= project.name %>
      <ul>
      <% project.issues.each do |issue| %>
        <li><%= link_to issue.subject, issue_path(issue) %></li>
        <li><%= issue.assigned_to %></li>
        <li><%= issue.created_on %></li>
      <% end %>
      </ul>
    </li>
  <% end %>
</ul>
