<h3>Bem-vindo(a) ao Sistema de Gestão de Demandas do Gabinete da SENEV</h1>

<p>
    Centralizamos e organizamos as demandas aqui para permitir uma gestão mais ágil e transparente. Sua colaboração é fundamental para o sucesso de nossos esforços na promoção da igualdade e no combate à violência de gênero.
</p>

<div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
