<h3>Bem-vindo(a) ao Sistema de Gestão de Demandas do Gabinete da SENEV</h1>

<p>
    Centralizamos e organizamos as demandas aqui para permitir uma gestão mais ágil e transparente. Sua colaboração é fundamental para o sucesso de nossos esforços na promoção da igualdade e no combate à violência de gênero.
</p>

<div class="d-flex justify-content-between align-items-center">
       

<div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
    <div class="card mb-3" style="max-width: 500px;">
       <div class="container-fluid mt-n22 px-6">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        Quote
                    </div>
                </div>
                 <div class="card-body">
            
                 </div>
            </div>
        </div>
      </div>
   </div>


<div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
    <div class="card mb-3" style="max-width: 500px;">
       <div class="container-fluid mt-n22 px-6">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        Quote
                    </div>
                </div>
                 <div class="card-body">
            
                 </div>
            </div>
        </div>
      </div>
   </div>


<div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
    <div class="card mb-3" style="max-width: 500px;">
       <div class="container-fluid mt-n22 px-6">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        Quote
                    </div>
                </div>
                 <div class="card-body">
            
                 </div>
            </div>
        </div>
      </div>
   </div>



<div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
    <div class="card mb-3" style="max-width: 500px;">
       <div class="container-fluid mt-n22 px-6">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        Quote
                    </div>
                </div>
                 <div class="card-body">
            
                 </div>
            </div>
        </div>
      </div>
   </div>





