<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <%= render "card_demandas" %>
    </div>
    <div class="col">
      <%= render "card_despachos" %>
    </div>
    <div class="col">
      <%= render "card_agenda" %>
    </div>
    <div class="col">
      <%= render "card_desdobramentos" %>
    </div>
  </div>
</div>
