<h3>Bem-vindo(a) ao Sistema de Gestão de Demandas do Gabinete da SENEV</h1>

<p>
    Centralizamos e organizamos as demandas aqui para permitir uma gestão mais ágil e transparente. Sua colaboração é fundamental para o sucesso de nossos esforços na promoção da igualdade e no combate à violência de gênero.
</p>



<div class="container">
  <div class="row row-cols-2">
    
<div class="col">


<div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
   
  </div>
</div>




</div>
    

<div class="col">



<div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
   
  </div>
</div>




</div>
    



<div class="col">



<div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
   
  </div>
</div>



</div>
    

<div class="col">



<div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
   
  </div>
</div>



</div>
  </div>
</div>


